<div class="jumbotron">
    <div class="container">
        <h1>Stomap</h1>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Hot Module Reloading</h2>
            For hot module reloading run
            <pre>npm run start:hmr</pre>
        </div>
        <div class="col-md-4">
            <h2>Local State</h2>

            <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

                <input [value]="localState.value" (input)="localState.value = $event.target.value" placeholder="Submit Local State to App State" autofocus>

                <button>Submit Value</button>
            </form>
            <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

            <pre>this.localState = {{ localState | json }}</pre>
        </div>
        <div class="col-md-4">
            <h2>ng2-bootstrap</h2>
            <alert type="info">Hello from ng2-bootstrap {{ date.toDateString() }}</alert>
            <div style="display:inline-block; min-height:290px;">
                <datepicker [(ngModel)]="date" showWeeks="true"></datepicker>
            </div>
        </div>
    </div>
</div>